@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* body{



  background-color: pink;
} */

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 5rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  width: 25rem;
}

.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
}
.show-card {
  width: 18rem;
}
.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn {
  background-color: #fe424d;
  border: none;
}

.edit-btn {
  background-color: #fe424d;
  border: none;
}

.show-img {
  height: 30vh;
  width: 40vw;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0%;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}

.alreadyLogin {
  display: flex;
  justify-content: center;
}

.alreadyLogin p {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .respLogin {
    margin: 30px !important;
  }
  .respLogin-outer {
    width: 100vw;
    margin: 0;
  }
  .alreadyLogin {
    display: flex;
    justify-content: center;
  }

  .navbar * {
    background-color: white;
    margin-bottom: 10px;
  }
  .f-info {
    height: 10vh;
  }
  .alert-success {
    width: 100%;
    margin: 0;
  }
  .card-img-overlay {
    width: 90vw;
  }
  .listing-card {
    width: 90vw;
  }
  .listing-card img {
    width: 94vw;
  }
  .card-body {
    width: 100vw;
  }
  #map {
    height: 400px;
    width: 30vw;
  }
  .show-card {
    margin: 30px;
    width: 90vw;
  }
  .show-card img {
    width: 80vw;
  }
  .card-body {
    width: 80vw;
  }
  .btns {
  }
  .btns a {
    height: 10vw;
    width: 30vw;
    margin: 0;
    margin-left: 20px;
  }
  .review {
    margin: 20px;
    width: 90vw;
  }
  .editReview {
    margin: 20px;
    width: 90vw;
  }
  .listingHeading {
    width: 90vw;
    margin: 20px 15px 0px 15px;
  }
  .signupShow {
    margin: 30px;
    width: 90vw;
  }
  .ratingCard {
    width: 85vw;
  }
}
